---
http_interactions:
- request:
    method: get
    uri: https://icanhazdadjoke.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1687032563'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ei3T08EQZob","joke":"Hostess: Do you have a preference of where
        you sit?\r\nDad: Down.","status":200}

'
  recorded_at: Sat, 17 Jun 2023 20:08:24 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC5f874e32c2b5842ff1a38878ddd7096d/Messages.json
    body:
      encoding: UTF-8
      string: Body=Hostess%3A+Do+you+have+a+preference+of+where+you+sit%3F%0D%0ADad%3A+Down.&From=%2B18448459414&To=12078310173
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM1Zjg3NGUzMmMyYjU4NDJmZjFhMzg4NzhkZGQ3MDk2ZDpkMTNhOGQzMTUzODJmMWYzYTUyZWUyMTU4Yjk1YmY2MQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQa7b78ab02fc9fd304253030bfdfef1e5
      Twilio-Request-Duration:
      - '0.137'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "Hostess: Do you have a preference of where you sit?\r\nDad:
        Down.", "num_segments": "1", "direction": "outbound-api", "from": "+18448459414",
        "date_updated": "Sat, 17 Jun 2023 20:08:23 +0000", "price": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/AC5f874e32c2b5842ff1a38878ddd7096d/Messages/SMa7b78ab02fc9fd304253030bfdfef1e5.json",
        "account_sid": "AC5f874e32c2b5842ff1a38878ddd7096d", "num_media": "0", "to":
        "+12078310173", "date_created": "Sat, 17 Jun 2023 20:08:23 +0000", "status":
        "queued", "sid": "SMa7b78ab02fc9fd304253030bfdfef1e5", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/AC5f874e32c2b5842ff1a38878ddd7096d/Messages/SMa7b78ab02fc9fd304253030bfdfef1e5/Media.json"}}'
  recorded_at: Sat, 17 Jun 2023 20:08:25 GMT
recorded_with: VCR 6.1.0
