---
http_interactions:
- request:
    method: get
    uri: https://icanhazdadjoke.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1687035837'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"99UDQZgyIBd","joke":"Two satellites decided to get married.
        The wedding wasn''t much, but the reception was incredible.","status":200}

'
  recorded_at: Sat, 17 Jun 2023 21:02:58 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC5f874e32c2b5842ff1a38878ddd7096d/Messages.json
    body:
      encoding: UTF-8
      string: Body=Two+satellites+decided+to+get+married.+The+wedding+wasn%27t+much%2C+but+the+reception+was+incredible.&From=%2B18448459414&To=asdgadfhsfh
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM1Zjg3NGUzMmMyYjU4NDJmZjFhMzg4NzhkZGQ3MDk2ZDpkMTNhOGQzMTUzODJmMWYzYTUyZWUyMTU4Yjk1YmY2MQ==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQf95a2f8b647827a43753608c495be34a
      Twilio-Request-Duration:
      - '0.060'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number  is not a valid phone
        number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Sat, 17 Jun 2023 21:02:59 GMT
recorded_with: VCR 6.1.0
